@import './base.css';

body{
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("@/assets/images/disco-skyline-wallpaper-4k.png");
  background-size: cover;
  background-repeat: no-repeat;
}
